body{
    /*
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat; !* Prevents the image from repeating *!
    background-position: center;   !* Centers the image within the container *!
    background-size: cover;        !* Scales the image to cover the entire container *!
    */
}

main {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}